.opacity-2 {
  opacity: 0.2;
}

html {
  overflow: hidden !important;
}

.v-row {
  margin: 0 !important;
}

/* CSS cho scrollbar */
/* width */
::-webkit-scrollbar {
  width: 5px;
  height: 5px;
}

/* Track */
::-webkit-scrollbar-track {
  background: #f1f1f1;
  border-radius: 5px;
}

/* Handle */
::-webkit-scrollbar-thumb {
  background: #888;
  border-radius: 5px;
}

/* Handle on hover */
::-webkit-scrollbar-thumb:hover {
  background: #555;
}

.title {
  font-size: 20px;
  font-weight: 700;
}
.text-child{
  font-size: 16px;
  font-weight: 700;
}
.label-info{
  height: 36px;
}
.label{
  color: #65696e;
  margin-right: 8px;
}
.employee-info{
  font-weight: 600;
  border-bottom: 1px solid #e0e1e4;
  flex-grow: 1;
  padding: 8px 16px;
  overflow: hidden;
  white-space: nowrap;
  text-overflow: ellipsis;
}
.border-table{
  border: thin solid #e0e1e4;
}
.text-white{
  color: #ffffff;
}

/* css icon close */
.mdi-close::before {
  font-size: 17px !important;
}

/* ẩn tăng giảm input type = number*/
input::-webkit-outer-spin-button,
input::-webkit-inner-spin-button {
  -webkit-appearance: none;
  margin: 0;
}

/* ẩn tăng giảm input type = number*/
input[type=number] {
  -moz-appearance: textfield;
}