.m-t-24{
    margin-top: 24px !important;
}
.m-r-60{
    margin-right: 60px;
}
.m-t-8{
    margin-top: 8px !important;
}
.m-b-24{
    margin-bottom: 24px !important;
}
.m-t-60{
    margin-top: 60px !important;
}
.m-r-8{
    margin-right: 8px !important;
}
.m-t-12{
    margin-top: 12px !important;
}
.p-b-12{
    padding-bottom: 12px !important;
}
.p-0{
    padding: 0 !important;
}